.ItemContain{
    width: 100%;
    display:flex;
    gap: 3em;
    justify-content: center;
    align-items: flex-start;
}
.ItemContain img{
    width: 50%;
}
.ItemContain__text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5em;
}
.ItemContain__text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 2em;
}
.ItemContain__text p{
    text-align: center;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
}
 hr{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height:.5px;
    background-color: #442500ff;
    width:95%;
    text-align:left;
    margin-left:0
  }
  .linkFinalizo{
    color: #442500ff;
    text-decoration: none;
    font-size: 1.5em;
  }