@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.cartWidget{
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.cartWidget--image{
    height: 30px;
}

.cartWidget--text{
    font-size: 1em;
    color: #442500ff;
    font-family: 'Ibarra Real Nova', serif;
}