@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.ItemListContainer{
    text-align: center;
    gap:3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    font-size: 1em;
    font-weight: 50;
    color: #442500ff;
    font-family: 'Ibarra Real Nova', serif;
    background-color: #ece0d2ff;
    height: 700px;
}