.Item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:.5em;
}
.Item h3{
    font-size: 1.5em;
    font-weight: 300;
}
.Item h4{
    font-size: 1em;
    font-weight: 100;
}
.Item__image{
    width:350px;
}
.Item__content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:2em;
}
.Item__detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5em;
}
.btnDetalle{
    font-weight: 600;
    letter-spacing: .05em;
    font-size: 1em;
    width: 150px;
    height: 50px;
    background-color: #e3c5abff;
}
.btnDetalle:hover{
    background-color: #442500ff;
    color: whitesmoke;
    cursor: pointer;
    transition: .5s;
  }