@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
nav {
  margin:0;
  padding:0;
}
.App-logo {
  display:none;
}
  
.NavBar{
  width: 100%;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 150px;
} 

.NavBar--button{
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 1.5em;
  background-color: #e3c5abff;
  height: 50px;
}

.NavBar--text{
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-family: 'Ibarra Real Nova', serif;
  font-size: .8em;
  width: 100%;
  min-width: 110px;
  color: #442500ff;
  background-color: #e3c5abff;
  border: none;
  text-align: center;
}
.NavBar--text:hover{
  background-color: #442500ff;
  color: whitesmoke;
  cursor: pointer;
  transition: .5s;
}

@media only screen and (min-width: 768px) {
  .App-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .App-logo--img {
    display: flex;
    height: 80px;
    pointer-events: none;
  }
  .NavBar{
    gap:5em;
  }
  .NavBar--button{
    width: 45%;
  }
  .NavBar--text{
    font-size: 1em;
  }
}