@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border:none;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;  
  background-color: #ece0d2ff;
  font-family: 'Ibarra Real Nova', serif;
}


.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

